:root {
  --dark: #1C1018;
  --light: #FDFDFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
button,
input,
textarea {
  font-size: 16px;
  font-family: sans-serif;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 100vw;
  height: 100vh;
  background-color: var(--dark);
  color: var(--light);
}

main h1 {
  margin-bottom: 1rem;
}
