:root {
  --white: #fff;
  --bg-light: #f4f3f5;
  --blue: #0095f6;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

button,
a,
input,
textarea {
  text-decoration: none;
}

a {
  font-weight: 600;
  color: var(--blue);
}

body {
  background-color: var(--bg-light);
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
    height: 100vh;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;

  width: 100%;
  height: 100vh;

}

.row section {
  display: flex;
  flex-direction: column;

  overflow: hidden;

  flex: 1;
}

@media (max-width: 757.98px) {
  .row section {
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 24px;
  }
}

.row section img {
  max-width: 100%;
  height: auto;
}

@media (min-width: 607px) and (max-width: 992px) {
  .instagram-form img {
    height: 500px !important;
    object-fit: cover;
  }
}

.group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: var(--white);
  padding: 32px 64px;
  margin-bottom: 16px;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, .09);
}

.group .logo {
  margin-bottom: 16px;
}

.img-profile {
  height: 100px;
  width: 100px;

  border-radius: 50%;
  object-fit: cover;

  margin-bottom: 32px;
}

.instagram-login {
  text-align: center;
  background-color: var(--blue);
  color: var(--white);
  padding: 8px 12px;
  border-radius: 8px;
  text-decoration: none;
  margin-bottom: 24px;
}

.get-the-app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.get-the-app p {
  margin-bottom: 24px;
}

.get-the-app .store-container {
  display: flex;
  justify-content: space-between;
}

.get-the-app .store-container {
  display: flex;
  justify-content: space-between;

  margin-bottom: 64px;
}

.get-the-app .store-container a {
  flex: 1;
}

.get-the-app .store-container a:first-child {
  margin-right: 8px;
}
